.nav-enlace{
    display: inline-block;
    background: salmon;
    color: #FFF;
    padding: 10px 30px;
    text-decoration: none;
}

.nav-enlace:hover{
    background: rosybrown;
}

nav{
    background: rebeccapurple;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

/* Estilos desde los 0 a los 600px */

@media (max-width: 600px){
    nav{
        background: gray;
        flex-direction: column;
    }
    .nav-enlace{
        margin: 10px 0px;
    }
}